
#MainContainer{
	background: url("img/bg.jpeg") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body{
	width: 80%;
	background: #DCD9D9;
	margin: auto;
    height: 100%;
    padding: 10px;
}
h1{
	text-align: center;
	position: relative;
	font-size: 16px;
	font-family: arial;
	z-index: 1;
}
.carddemoBasicUsage .card-media {
  background-color: #999999; }

.material-icons.orange600 {
  color: #FB8C00;
  font-size: 30px;
}
.material-icons.white600 {
  color: white;
  font-size: 30px;
}

#main-tile{
  padding-top: 150px;
  padding-bottom: 700px;
  margin:auto;
}
#main-tile md-card{
  width: 485px;
  background-image: url("img/texture-small.jpg");
  background-repeat:repeat;
}

.md-headline {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

md-card-title-text span{
  text-align: center;
}

.md-body-1, .md-subhead {
  font-weight: 600;
}

.my-divider{
  background-color: #fafafa;
  height: 1px;
  width: 81%;
  margin: auto;
  display: block;
}

.my-discription{
  text-align: center;
  margin: auto;
  width: 384px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.md-icon-button{
  margin: auto;
}

.md-user-avatar{
  margin: auto;
  margin-top: 30px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border:7px solid #fafafa;
}

#download{
  margin: auto;
}
