
#MainContainer{
	background: url("img/bg4.jpg") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body{
	width: 80%;
	background: #DCD9D9;
	margin: auto;
  height: 100%;
  padding: 10px;
}
h1{
	text-align: center;
	position: relative;
	font-size: 16px;
	font-family: arial;
	z-index: 1;
}
.carddemoBasicUsage .card-media {
  background-color: #999999; }

.material-icons.orange600 {
  color: #FB8C00;
  font-size: 30px;
}
.material-icons.white600 {
  color: white;
  font-size: 30px;
	padding-top: 0.4em;
}
.dialog{
	text-align: center;
}

#main-tile{
  padding-top: 100px;
  padding-bottom: 700px;
  margin:auto;
}
#main-tile md-card{
  width: 485px;
  background-image: url("img/texture-small.jpg");
  background-repeat:repeat;
}

.md-headline {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

md-card-title-text span{
  text-align: center;
}

.md-body-1, .md-subhead {
  font-weight: 600;
}

.my-divider{
  background-color: #fafafa;
  height: 1px;
  width: 81%;
  margin: auto;
  display: block;
}

.my-discription{
  text-align: center;
  margin: auto;
}

.dialog{
  padding: 10px 30px 10px 30px;
}

.md-icon-button{
  margin: auto;
}

.md-user-avatar{
  margin: auto;
  margin-top: 30px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border:7px solid #fafafa;
}

#download{
  margin: auto;
}

.skill-tile{
	border-radius: 15px;
	padding: 0;
	margin: 13px 13px 18px 13px;
	height: 90px;
  width: 90px
}

.skill-img{
	border-radius: 15px;
	height: 75px;
}

#node-skill{
	background: #d4e9b6;
}
#ruby-skill{
	background: #f17474;
}
#aws-skill{
	background: #fbca8d;
}
#aws-skill .skill-img{
	height: 90px;
}
#wercker-skill img{
	height: 90px;
}
#grunt-skill{
	background: #ffcc71;
}
#wordpress-skill{
	background: #1e8cbe;
}
#material-skill{
	background: #1b39a8;
}
#angular-skill{
	background: #f14c48;
}
#services-title {
	margin-top: 15px;
	margin-bottom: 15px;
}
#react-skill {
	background: #282828;
}
#react-skill .skill-img{
	height: 90px;
}
#webpack-skill {
	background: #fefefe;
}
#jenkins-skill {
	background: #618399;
}
