/*CSS sandbox*/

body{
	background: #FFF;
}
#body{
	width: 80%;
	background: #DCD9D9;
	margin: auto;
    height: 100%;
    padding: 10px;
}
h1{
	text-align: center;
	position: relative;
	font-size: 16px;
	font-family: arial;
	z-index: 1;
}
.carddemoBasicUsage .card-media {
  background-color: #999999; }

.material-icons.orange600 { color: #FB8C00; }

#main-tile{
  padding-top: 150px;
  margin:auto;
}
#main-tile md-card{
  width: 485px;
}

.md-headline {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

md-card-title-text span{
  text-align: center;
}

.md-body-1, .md-subhead {
  font-weight: 600;
}

.my-divider{
  background-color: #fafafa;
  height: 1px;
  width: 81%;
  margin: auto;
  display: block;
}

.my-discription{
  text-align: center;
}

.md-user-avatar{
  margin: auto;
  margin-top: 30px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border:7px solid #fafafa;
}
